<!DOCTYPE html>
<html lang="en">
	<head>
		<%- include('private/meta'); %>
		<title>404 - Not Found</title>
	</head>
	<body>
		<%- include('private/header'); %>
		<h1>404 - Not Found</h1>
        <a href="/">Back to Home</a>
		<%- include('private/footer'); %>
	</body>
</html>